/* Write your CSS here */
.container {
  background-color: #07080c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Roboto';
}

.heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.image {
  max-width: 70%;
  max-height: 30vh;
  margin-bottom: 20px;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 20px;
}
.des-heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}
.tag {
  color: #cbd5e1;
  font-size: 20px;
  margin-top: 20px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.acc-button {
  background-color: #0b69ff;
  border-radius: 10px;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  height: 30px;
  width: 100px;
  font-size: 12px;
}
.brake-button {
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  color: #94a3b8;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #94a3b8;
  height: 30px;
  width: 100px;
  font-size: 12px;
  font-weight: 600;
}
